@import 'antd.css';
@import 'responsive';
@import 'variables.css';

/* width and height of the scrollbar track */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
  /* background of the scrollbar track */
  ::-webkit-scrollbar-track {
    background-color: #333333;
  }
  
  /* color and border of the scrollbar thumb */
  ::-webkit-scrollbar-thumb {
    background-color: #a1a1a1;
    border-radius: 8px;
    border: 2px solid #333333;
  }
  
  /* color and border of the scrollbar thumb when hovered */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #818181;
    border-color: #a1a1a1;
  }
  
  /* color and border of the scrollbar thumb when active */
  ::-webkit-scrollbar-thumb:active {
    background-color: #595959;
    border-color: #a1a1a1;
  }
  