.parent {
  padding: 24px 32px 24px 32px;
  background-color: #33548A;
  height: 100%;
  z-index: 999999999999999999 !important;
}

.parent_with_nav {
  background-color: #FFF;
  height: 100%;
  z-index: 999999999999999999 !important;
}
