.parent {
    background-color: #ffffff;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 10px;
  }
  
  .image {
    width: 200px;
    margin-bottom: 20px;
    margin-top: 10px;
    border: 1px solid rgb(10, 175, 197);
    border-radius: 100%;
  }

  .container_group {
    width: 100%;
    max-width: 800px;
    background: #fb9491;
    margin: 10px;
    border-radius: 20px;
    padding: 10px;

    .text {
      font-family: 'Amiko';
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 51px;
      color: #ffffff;
      margin-left: 20px;
    }

    .image {
      width: 80px;
      margin: 0;
    }
  }

  .text_home {
    font-family: 'Amiko';
    font-weight: 700;
    font-size: 20px;
    line-height: 51px;
    color: #ffffff;
    margin-left: 20px;
    background-color: #40a9ff;
    border-radius: 50px;
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
  }
  