.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: #33548A;

  .imageContainer {
    display: inline-flex;
    align-items: baseline;
    justify-content: center;
    margin-bottom: 60px;
    background: #fff;
    border-radius: 40px;
    padding: 50px;
    flex-direction: column;
    min-width: 300px;
    
    .image {
      width: 150px;
      height: 150px;
      margin: 0 20px;
    }

    .textInfo {
      text-align: center;
      font-family: 'Amiko';
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 21px;
      /* or 255% */
      width: 90%;
      margin: 20px 20px 50px;
      display: flex;
      align-items: center;
      text-align: center;
  
      color: black;
    }
  }

  .textarea {
    width: 90%;
    height: 100px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 20px;
    padding: 20px;
  }

  .button {
    margin-top: 50px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #124b2f;
    color: #fff;
    font-weight: bold;
    border: 2px solid white;
    cursor: pointer;
    min-width: 300px;
    display: flex;
    justify-content: center;
  }
}
